altgraph==0.17.2
androguard==3.4.0a1
apkid==2.1.2
asgiref==3.5.0
asn1crypto==1.4.0
asttokens==2.0.5
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
biplist==1.0.3
black==21.12b0
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.1
colorama==0.4.4
colorlog==6.6.0
cryptography==3.4.8
cycler==0.11.0
decorator==4.4.2
distro==1.6.0
Django==4.0.1
executing==0.8.2
Flask==2.0.2
fonttools==4.28.5
frida==15.1.12
google-play-scraper==1.0.3
graphviz==0.19.1
h11==0.12.0
h2==4.1.0
hpack==4.0.0
http-tools==2.1.0
hyperframe==6.0.1
idna==3.3
IP2Location==8.6.4
ipython==8.0.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
kaitaistruct==0.9
kiwisolver==1.3.2
ldap3==2.9.1
libsast==1.4.5
lief==0.11.5
lxml==4.7.1
macholib==1.15.2
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mitmproxy==7.0.4
msgpack==1.0.3
mypy-extensions==0.4.3
networkx==2.6.3
numpy==1.22.1
oscrypto==1.2.1
packaging==21.3
pandas==1.4.0
parso==0.8.3
passlib==1.7.4
pathspec==0.9.0
pdfkit==1.0.0
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.4.1
plotly==5.5.0
prettytable==3.0.0
prompt-toolkit==3.0.19
protobuf==3.18.1
psutil==5.9.0
publicsuffix2==2.20191221
pure-eval==0.2.2
pyasn1==0.4.8
pycparser==2.21
pydivert==2.1.0
pydot==1.4.2
Pygments==2.11.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
quark-engine==21.6.3
razorpay==1.2.0
requests==2.27.1
rsa==4.8
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
shelljob==0.6.3
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.1.4
tenacity==8.0.1
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.1
tzdata==2021.5
urllib3==1.26.8
urwid==2.1.2
waitress==2.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
whitenoise==5.3.0
wsproto==1.0.0
yara-python-dex==1.0.1
zstandard==0.15.2
